<!doctype html>
<html lang="ja">
    <body>
        <article>
            <section>
                <input id="title" type="hidden" value="{{title}}">
                <div id="main_space">
                    <div id="msg_space">
                        <h1 class="title_name font">「 {{title}} 」は内部構成が不正です。</h1>
                        <ul class="ghost-btn">
                            <li>
                                <a href="javascript:openDir()">フォルダを開く</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </article>
    </body>
</html>